.success {
  color: #289672;
}
.danger {
  color: #d32626;
}

.alert {
  padding: 1rem;
  border: 00.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #23049d;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #cf0000;
  background-color: #ffe0e0e0;
}

.alert-success {
  color: #289672;
  background-color: #a9f1df;
}

/* Header */
aside.open {
  transform: translateX(0);
}
